body {
  background: #f5f9fa;
  font-family: 'Poppins', sans-serif;
}

table {
  width: 100%;
  border-collapse: collapse;
}

.table th {
  background: #5c6bc0;
  color: white;
  padding: 12px;
}

.table td {
  padding: 10px;
  border-bottom: 1px solid #ddd;
}

button {
  background: #5c6bc0;
  color: white;
  padding: 8px 16px;
  border-radius: 6px;
  border: none;
  cursor: pointer;
}
button:hover {
  background: #3f4d96;
}
